flow/index.js
[{"id":"e1e53fe5.08758","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"497c9e62.0bca3","type":"MSSQL-CN","z":"","tdsVersion":"7_4","name":"Server","server":"10.8.66.119","port":"1433","encyption":false,"database":"SupportNote","useUTC":false,"connectTimeout":"","requestTimeout":"","cancelTimeout":"","pool":""},{"id":"5731ea2c.c5b4c4","type":"MSSQL-CN","z":"","name":"Dev","server":"localhost","encyption":false,"database":"Dev"},{"id":"401eb1f8.466cd","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"NodeRedSQLClient","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2eb432ab.3e49ce","type":"http in","z":"e1e53fe5.08758","name":"GET","url":"/supportnote/api","method":"get","upload":false,"swaggerDoc":"","x":90,"y":40,"wires":[["fe5e2562.90fa28"]]},{"id":"92d105c4.efa6b8","type":"http response","z":"e1e53fe5.08758","name":"OK","statusCode":"200","headers":{},"x":730,"y":40,"wires":[]},{"id":"fe5e2562.90fa28","type":"MSSQL","z":"e1e53fe5.08758","mssqlCN":"497c9e62.0bca3","name":"MAIN","query":"SELECT * FROM MAIN","outField":"payload","returnType":0,"throwErrors":1,"x":430,"y":40,"wires":[["92d105c4.efa6b8"]]},{"id":"c5f529c0.d7db78","type":"http in","z":"e1e53fe5.08758","name":"GET BY ID","url":"/supportnote/api/:id","method":"get","upload":false,"swaggerDoc":"","x":100,"y":120,"wires":[["939855a0.8938d8"]]},{"id":"e9626d5f.e99dc","type":"http response","z":"e1e53fe5.08758","name":"OK","statusCode":"200","headers":{},"x":730,"y":120,"wires":[]},{"id":"7e1b4ca5.9a2144","type":"MSSQL","z":"e1e53fe5.08758","mssqlCN":"497c9e62.0bca3","name":"MAIN","query":"SELECT * FROM [MAIN]\nWHERE ID = {{{payload}}}","outField":"payload","returnType":0,"throwErrors":1,"x":430,"y":120,"wires":[["e9626d5f.e99dc"]]},{"id":"939855a0.8938d8","type":"function","z":"e1e53fe5.08758","name":"","func":"msg.payload = +msg.req.params.id;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":120,"wires":[["7e1b4ca5.9a2144"]]},{"id":"12382119.6d06df","type":"http in","z":"e1e53fe5.08758","name":"CREATE","url":"/supportnote/api","method":"post","upload":false,"swaggerDoc":"","x":100,"y":200,"wires":[["39f0ff39.1b318","7980b723.f67fc8"]]},{"id":"7980b723.f67fc8","type":"MSSQL","z":"e1e53fe5.08758","mssqlCN":"497c9e62.0bca3","name":"MAIN","query":"INSERT INTO MAIN \n      (\n    \t  [Date]\n          ,[Equip_Type]\n          ,[Equip_Desc]\n          ,[Activity_Desc]\n          ,[Activity_Time]\n          ,[ShortTerm_Desc]\n          ,[Correction_Resp]\n          ,[CorrectCall_Bit]\n          ,[CorrectCall_Desc]\n          ,[Area_Resp]\n\t  )\n\t  \nVALUES\n\n(\n    '{{{payload.date}}}'\n    ,'{{{payload.equipType}}}'\n    ,'{{{payload.description}}}'\n    ,'{{{payload.activityDesc}}}'\n    ,'{{{payload.activityTime}}}'\n    ,'{{{payload.shortTermDesc}}}'\n    ,'{{{payload.correctionResp}}}'\n    ,'{{{payload.correctCallBit}}}'\n    ,'{{{payload.correctCallDesc}}}'\n    ,'{{{payload.areaResp}}}'\n)\n\n ","outField":"payload","returnType":0,"throwErrors":1,"x":430,"y":200,"wires":[["33e9dff6.d52e8"]]},{"id":"e5648ef9.a78c6","type":"http response","z":"e1e53fe5.08758","name":"CREATED","statusCode":"201","headers":{},"x":750,"y":200,"wires":[]},{"id":"33e9dff6.d52e8","type":"template","z":"e1e53fe5.08758","name":"Return OK","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"message\": \"done\"\n}","output":"json","x":590,"y":200,"wires":[["e5648ef9.a78c6"]]},{"id":"8ae4d782.3b51d8","type":"http in","z":"e1e53fe5.08758","name":"DELETE","url":"/supportnote/api/:id","method":"delete","upload":false,"swaggerDoc":"","x":100,"y":340,"wires":[["219d2dc9.d161d2"]]},{"id":"71ea8648.813b38","type":"MSSQL","z":"e1e53fe5.08758","mssqlCN":"497c9e62.0bca3","name":"MAIN","query":"DELETE FROM MAIN\nWHERE ID = {{{payload}}}","outField":"payload","returnType":0,"throwErrors":1,"x":430,"y":340,"wires":[["4f7f1234.cad09c"]]},{"id":"e8f45179.8985a","type":"http response","z":"e1e53fe5.08758","name":"OK","statusCode":"200","headers":{},"x":730,"y":340,"wires":[]},{"id":"219d2dc9.d161d2","type":"function","z":"e1e53fe5.08758","name":"","func":"msg.payload = +msg.req.params.id;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["71ea8648.813b38"]]},{"id":"4f7f1234.cad09c","type":"template","z":"e1e53fe5.08758","name":"Return OK","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"message\": \"done\"\n}","output":"json","x":590,"y":340,"wires":[["e8f45179.8985a"]]},{"id":"42430581.a4b27c","type":"http in","z":"e1e53fe5.08758","name":"UPDATE","url":"/supportnote/api/:id","method":"put","upload":false,"swaggerDoc":"","x":100,"y":420,"wires":[["a1b2b467.1d88e8"]]},{"id":"867e04f1.8581d8","type":"MSSQL","z":"e1e53fe5.08758","mssqlCN":"497c9e62.0bca3","name":"MAIN","query":"UPDATE [MAIN]\n\nSET \n    Date = '{{{msg.req.params.payload.Date}}}'\n    ,Equip_Type = '{{{payload.Equip_Type}}}'\n    ,Equip_Desc = '{{{payload.Equip_Desc}}}'\n    ,Activity_Desc = '{{{payload.Activity_Desc}}}'\n    ,Activity_Time = '{{{payload.Activity_Time}}}'\n    ,ShortTerm_Desc = '{{{payload.ShortTerm_Desc}}}'\n    ,Correction_Resp = '{{{payload.Correction_Resp}}}'\n    ,CorrectCall_Bit = '{{{payload.CorrectCall_Bit}}}'\n    ,CorrectCall_Desc = '{{{payload.CorrectCall_Desc}}}'\n    ,Area_Resp = '{{{payload.Area_Resp}}}'\n\nWHERE ID = {{{payload.id}}}","outField":"payload","returnType":0,"throwErrors":1,"x":430,"y":420,"wires":[["dd6f3f65.8e0f9"]]},{"id":"dd6f3f65.8e0f9","type":"template","z":"e1e53fe5.08758","name":"Return OK","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"message\": \"done\"\n}","output":"json","x":590,"y":420,"wires":[["60f97a2b.3d7454"]]},{"id":"60f97a2b.3d7454","type":"http response","z":"e1e53fe5.08758","name":"OK","statusCode":"200","headers":{},"x":730,"y":420,"wires":[]},{"id":"a1b2b467.1d88e8","type":"function","z":"e1e53fe5.08758","name":"","func":"msg.payload.id = +msg.req.params.id;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":420,"wires":[["867e04f1.8581d8"]]},{"id":"39f0ff39.1b318","type":"debug","z":"e1e53fe5.08758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":280,"wires":[]}]